.liked-items-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    position: relative;
    border: none;
}

.liked-items-btn:hover {
    background-color: lightgray;
}