.popup-bg {
    position: absolute;
    display: flex;
    align-items: end;
    height: 155px;
    top: 40px;
    left: 0;
}

.search-wrap-container .popup-bg {
    width: 100%;
    top: 45px;
}

.searched-items-wrap {
    flex-direction: column;
    /* padding-top: 10px; */
    width: inherit;
    height: 150px;
    background-color: white;
    box-shadow: 2px 2px 2px lightgray, -2px -2px 2px lightgrey;
    padding: 10px;
    overflow-y: scroll;
    gap: 5px;
    z-index: 1;
}

.visible {
    display: flex;
}

.invisible {
    display: none;
}

.searched-item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.searched-item b, .searched-item p {
    display: flex;
    font-size: 13px;
    align-items: center;
}

.search-product-item-img {
    width: 40px;
    height: 40px;
}

.name-and-price-wrap {
    display: flex;
    gap: 5px;
}