.wine-description-wrap {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #FBF7F4;
    align-items: center;
    height: 100vh;
}

.wine-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    max-width: 800px;
    box-shadow: 2px 2px 5px gray, -2px -2px 5px gray;
    gap: 20px;
}

.wine-picture {
    min-width: 300px;
    height: 300px;
}

.wine-description p {
    text-align: center;
}

