.mobile-nav-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-inline: 10px;
    background-color: white;
    border-top: 1px solid lightgray;
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 1;
}

.mobile-nav {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.mob-nav-btn {
    display: flex;
    position: relative;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    background-color: transparent;
    transition: background .3s;
    width: 65px;
    height: 40px;
}

.mob-nav-btn:hover {
    background: var(--color-dark, #434960);
}

.mob-nav-btn:hover svg path {
    stroke: white;
}

.mobile-nav-wrap svg path {
    stroke: grey;
}

@media(max-width: 1345px) {

    body {
        margin-bottom: 50px;
    }
}