* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #434960;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
}

*::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

.products-wrap::-webkit-scrollbar, .brands-wrap::-webkit-scrollbar  {
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: white;
    /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    border: 3px solid white;
    border-radius: 10px;
    background-color: black;
    /* color of the scroll thumb */
    /* border-radius: 20px; */
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}